<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
  {% block content2 %}

  {% endblock %}
</head>
<body>
  <header>
    <input type="checkbox" id="btn-menu">
    <label for="btn-menu"><img src="{{ url_for('static',filename='graphics/icono-menu.png')}}" alt = ""></label>
    <nav class="menu">
      <ul>
        <li><a href="{{url_for('index')}}" title="¿Quieres ver cuánto hemos vendido en el día?">Historial de ventas</a></li>
        <li><a href="{{url_for('RealizarVenta')}}" title="Es hora de ganar un poco de dinero, ¡hagamos una venta!">Efectuar venta</a></li>
        <li><a href="{{url_for('Inventario')}}" title="Hora de administrar el negocio, veamos nuestro inventario">Inventario</a></li>
        <li><a href="{{url_for('Contacto')}}" title="¿Ha fallado algo? Llama al desarrollador para que lo arregle. Es parte de su trabajo">Contacto</a></li>
      </ul>
    </nav>
  </header>

  {% block content %}

  {% endblock %}
</body>

</html>
