{% extends "formatoPrincipal.html" %}

{% block content2 %}
  <link rel="stylesheet" href="{{url_for('static',filename='CSSIndex.css')}}">
  <title>Inicio</title>

{% endblock %}

{% block content %}

<!-- MENSAJE DE ADVERTENCIA PARA EL USUARIO -->
{% if error %}
<!-- <center><h1>{{ error }}</h1></center> -->
<script type="text/javascript">alert("{{ error }}")</script>
{% endif %}

    <div id = "main-container">
      <table>
        <thead>
          <tr>
            <th scope="col">Códigos de productos</th>
            <th scope="col">Nombre de los productos</th>
            <th scope="col">Cantidad vendida c/u</th>
            <th scope="col">Unidad c/u</th>
            <th scope="col">Fecha</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <!-- {% for value in productos %} -->
          <tr>
            <td><!-- {{ value[0] }} ---></td>
            <td><!-- {{ value[0] }} ---></td>
            <td><!-- {{ value[0] }} ---></td>
            <td><!-- {{ value[0] }} ---></td>
            <td><!-- {{ value[0] }} ---></td>
            <td><!-- {{ value[0] }} ---></td>
          </tr>
          <!--{% endfor %}-->
          </table>
        </div>

        <form action="/" method="post">
          <select name="valuesLetter" class="list">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
            <option value="I">I</option>
            <option value="J">J</option>
            <option value="K">K</option>
            <option value="L">L</option>
            <option value="M">M</option>
            <option value="N">N</option>
            <option value="Ñ">Ñ</option>
            <option value="O">O</option>
            <option value="P">P</option>
            <option value="Q">Q</option>
            <option value="R">R</option>
            <option value="S">S</option>
            <option value="T">T</option>
            <option value="U">U</option>
            <option value="V">V</option>
            <option value="W">W</option>
            <option value="X">X</option>
            <option value="Y">Y</option>
            <option value="Z">Z</option>
          </select>
        <button type="submit" name="submit_button" value="Mostrar">Filtrar</button>


        </form>

{% endblock %}
