{% extends "formatoPrincipal.html" %}

{% block content2 %}
<link rel="stylesheet" href="{{url_for('static',filename='CSSInventarioActualizar.css')}}">
<title>Actualizar Inventario</title>
{% endblock %}

{% block content %}

<!-- MENSAJE DE ADVERTENCIA PARA EL USUARIO -->
{% if error %}
<!-- <center><h1>{{ error }}</h1></center> -->
<script type="text/javascript">alert("{{ error }}")</script>
{% endif %}


<form action="/Inventario/Actualizar-Inventario/Administrar" method="post">
{% if longitud|int() > 0 %}
  {% set code = producto[0][0] %}
  {% set name = producto[0][1] %}
  {% set specifications = producto[0][2] %}
  {% set quantity = producto[0][3] %}
  {% set unity = producto[0][4] %}
  {% set price = producto[0][5] %}
{% else %}
  {% set code = " " %}
  {% set name = " " %}
  {% set specifications = " " %}
  {% set quantity = " " %}
  {% set unity = " " %}
  {% set price = " " %}
{% endif %}
 <ul>
  <li>
    <label for="code">Código:</label>
    <input type="text" id="code" name="product_code" placeholder="{{ code }}" required>
    <center><button class="btn_search" name="search" type="submit" value="SearchCode">Buscar atributos mediante su código</button></center>
  </li>
  <li>
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="product_name"  placeholder="{{ name }}">
  </li>
  <li>
    <label for="specifications">Especificaciones:</label>
    <input type="text" id="specifications" name="product_specifications" placeholder="{{ specifications }}">
  </li>
  <li>
    <label for="quantity">Cantidad:</label>
    <input type="number" id="quantity" name="product_quantity" step="any" placeholder="{{ quantity }}">
  </li>
  <li>
    <label for="unity">Unidad: {{ unity }}</label>
    <select name="product_unity" class="list">
    <option  selected="" value="off"><p lang="es">Escoge la unidad de venta del producto </p></option>
    <option value="Kg">Kilogramo</option>
    <option value="L">Litro</option>
    <option value="M">Metro</option>
    <option value="Pza">Por pieza</option>
  </select>
</li>

  <li>
    <label for="price">Precio:</label>
    <input type="number" id="price" name="product_price" step="any" placeholder="{{ price }}">
  </li>
 </ul>
 <br>
 <br>
 <center><select name="Operations" class="list"></center>
   <option  selected="" value="off"><p lang="es">Elegir operación a realizar</p></option>
   <option value="add">Añadir producto al inventario</option>
   <!--<option value="update">Actualizar producto en el inventario</option>-->
   <option value="delete">Eliminar producto del inventario</option>
 </select>
  <center><button class="btn_operation" name="btn_operation" type="submit">Efectuar operación</button></center>
</form>
<br>
<center><p>*<b>Buscar atributos mediante su código:</b> tiene como objetivo facilitar la eliminación
  del producto en cuestión.<br>Solo introduzca el código del producto y seleccione la operación de eliminación.</p></center>

{% endblock %}
