{% extends "formatoPrincipal.html" %}

{% block content2 %}
<link rel="stylesheet" href="{{url_for('static',filename='CSSInventarioActualizar.css')}}">
<title>Actualizar Inventario</title>
{% endblock %}

{% block content %}
<form action="/my-handling-form-page" method="post">
 <ul>
  <li>
    <label for="code">Código:</label>
    <input type="text" id="code" name="product_code">
  </li>
  <li>
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="product_name">
  </li>
  <li>
    <label for="specifications">Especificaciones:</label>
    <input type="text" id="specifications" name="product_specifications">
  </li>
  <li>
    <label for="quantity">Cantidad:</label>
    <input type="number" id="quantity" name="product_quantity">
  </li>
  <li>
    <label for="price">Precio:</label>
    <input type="number" id="price" name="product_price">
  </li>
 </ul>
 <br>
 <br>
 <center><button class="btn_add" name="add" type="submit">Añadir al inventario</button></center>
 <br>
 <center><button class="btn_update" name="update" type="submit">Actualizar producto</button></center>
 <br>
 <center><button class="btn_delete" name="delete" type="submit">Eliminar producto</button></center>
</form>
{% endblock %}
