{% extends "formatoPrincipal.html" %}

{% block content2 %}
<link rel="stylesheet" href="{{url_for('static',filename='CSSRealizarVenta.css')}}">
<title>Realizar Venta</title>
{% endblock %}

{% block content %}

{% if pago > 0 %}
  {% set code = producto[0][0] %}
{% else %}
  {% set code = 0 %}
{% endif %}

<nav class = "carritoRealizarVenta" action="/" method="post">
  <ul id="horizontal">
  <li><a><p><b>Carrito de compras: {{ code }} $</b></P></a></li>
  </ul>
</nav>

<!-- MENSAJE DE ADVERTENCIA PARA EL USUARIO -->
{% if error %}
<!-- <center><h1>{{ error }}</h1></center> -->
<script type="text/javascript">alert("{{ error }}")</script>
{% endif %}

<form action="/RealizarVenta/AddToCar" method="post">

 <ul>
  <li>
    <label for="code">Código del producto:</label>
    <input type="text" id="code" name="product_code" placeholder="Introduce el código del producto" required>
    <center><button class="btn_search" name="search" type="submit" value="SearchCode">Buscar atributos mediante su código</button></center>
  </li>

  <li>
    <label for="name">Nombre del producto:</label>
    <input type="text" id="name" name="product_name"  placeholder="Introduce el nombre del producto">
  </li>

  <li>
    <label for="quantity">Cantidad:</label>
    <input type="number" id="quantity" name="product_quantity" step="any" placeholder="Introduce la cantidad de venta">
  </li>

  <li>
    <label for="unity">Unidad:</label>
    <select name="product_unity" class="list">
    <option  selected="" value="off"><p lang="es">Escoge la unidad del producto </p></option>
    <option value="Kg">Kilogramo</option>
    <option value="L">Litro</option>
    <option value="M">Metro</option>
    <option value="Pza">Por pieza</option>
  </select>
</li>



  <li>
    <label for="price">Precio por el producto:</label>
    <input type="number" id="price" name="sale_price" step="any" placeholder="¿Cuánto es de este producto?">
  </li>
 </ul>
 <br>
  <center><button class="btn_carrito" name="btn_carrito" value = "addCar" type="submit">Añadir al carrito</button></center>
  <center><p>*<b>Buscar atributos mediante su código:</b> tiene como objetivo facilitar el llenado de los atributos:
     Nombre, Cantidad Y Unidad.<br>Solo introduzca el código del producto y presione buscar.</p></center>
</form>



{% endblock %}
