{% extends "formatoPrincipal.html" %}

{% block content2 %}
<link rel="stylesheet" href="{{url_for('static',filename='CSSRealizarVenta.css')}}">
<title>Realizar Venta</title>
{% endblock %}

{% block content %}

{% if longitud|int() > 0 %}
  {% set code = producto[0][0] %}
  {% set name = producto[0][1] %}
  {% set quantity = producto[0][2] %}
  {% set unity = producto[0][3] %}
  {% set price = producto[0][4] %}

{% else %}
  {% set code = " " %}
  {% set name = " " %}
  {% set quantity = " " %}
  {% set unity = " " %}
  {% set price = " " %}

{% endif %}

{% if precioTotal > 0 %}
  {% set totalPrice = precioTotal %}
{% else %}
  {% set totalPrice = 0 %}
{% endif %}
<nav class = "carritoRealizarVenta"  method="post">
  <ul id="horizontal">
  <li><a><p><b>Carrito de compras: {{ totalPrice }} $</b></P></a></li>
  </ul>
</nav>

<!-- MENSAJE DE ADVERTENCIA PARA EL USUARIO -->
{% if error %}
<!-- <center><h1>{{ error }}</h1></center> -->
<script type="text/javascript">alert("{{ error }}")</script>
{% endif %}

<form action="/Realizar-Venta/ControlVenta" method="post">

 <ul>
  <li>
    <label for="code">Código del producto:</label>
    <input type="text" id="code" name="product_code" placeholder="{{ code }}" required>
    <center><button class="btn_search" name="adding" type="submit" value="AddCode" title="Para facilitarte el trabajo, te ayudo mostrandote que parámetros debes de introducir">Añadir atributos mediante su código</button></center>
  </li>

  <li>
    <label for="name">Nombre del producto:</label>
    <input type="text" id="name" name="product_name"  placeholder="{{ name }}" value="d" title="Parámetro obligatorio">
  </li>

  <li>
    <label for="quantity">Cantidad a vender:</label>
    <input type="number" id="quantity" name="product_quantity" step="any" placeholder="{{ quantity }}" value="d" title="Parámetro obligatorio">
  </li>

  <li>
    <label for="unity">Unidad: {{ unity }}</label>
    <select name="product_unity" class="list">
    <option  selected="" value="d"><p lang="es">Escoge la unidad del producto </p></option>
    <option value="Kg">Kilogramo</option>
    <option value="L">Litro</option>
    <option value="M">Metro</option>
    <option value="Pza">Por pieza</option>
  </select>
</li>



  <li>
    <label for="price">Total $:</label>
    <input type="number" id="price" name="sale_price" step="any" placeholder="{{ price }}" value="d" title="Parámetro obligatorio">
  </li>
 </ul>
 <br>
  <center><button class="btn_carrito" name="btn_carrito" value = "addCar" type="submit" title="Antes de vender los productos debes de añadirlos al carrito de compras">Añadir al carrito</button></center>
  <p>¿Ya añadiste todos los productos al carrito? Presiona <b>"efectuar venta".</b></p>
  <center><button class="btn_venta" name="btn_venta" value = "doSale" type="submit" title="¿Terminaste de añadir los productos al carrito? !Hora de hacer la venta¡"><b>Efectuar venta</b></button></center>
  <br>
  <center><button class="btn_cancelar" name="btn_cancelar" value = "Cancelar" type="submit" title="¡Cuidado! Estas entrando en una zona peligrosa">Cancelar venta</button></center>

</form>
<br>
<center><p>*<b>Añadir atributos mediante su código:</b> tiene como objetivo facilitar el llenado de los atributos:
   Nombre, Cantidad Y Unidad.<br>Solo introduzca el código del producto y presione buscar.</p></center>


{% endblock %}
